.idea/*
*.log
*.bak
*.DS_Store
*.sublime-project
*.sublime-workspace
*.sublime-settings
apex-scripts/*
apex-scripts/log/*.json
/config/
*/*.zip
/src/profiles/
/src/classes/*.cls-meta.xml
/src/classes/BECUController.cls
/src/pages/becu.page*
/src/staticresources/BECU_Theme.resource*
/src/staticresources/FT_Theme.resource*
/src/layouts/Work*
/src/objects/Work*
/src/workflows/Work*
SampleReport*.report
/resource-dependencies/
/resource-bundles/static.resource/images/Thumbs.db

