<!-- Schedule Modal -->
<div id="scheduleModal" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="scheduleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-inverse">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="chooseCardModalLabel"></h3>
      </div>

      <div class="modal-body" id="SaveForLaterApplication">
        <div id="schedule-appointment">
          <div class="head_title marginBtm20 ">
            {{PageLabels.schedule_appointment}}
          </div>
          <div class="server-errors hidden"></div>
          <div class="savemodal-text">
            <p class="bodyTextBold marginTop">
              {{PageLabels.schedule_appointment_header}}
            <div class="hidden"><input type="checkbox" class="saveforlater" value="true" id="app_scheduled__c" name="app_scheduled__c" data-value="{{Application__c.app_scheduled__c}}"></div>
            </p>
            <p class="bodyTextBold marginTop">
              {{PageLabels.schedule_appointment_cancel}}
            </p>
          </div>

           <form id="schedule-appt-form">
            <div class="form-div">
              <div class="row fieldSet location">
                <div class="js-float-label-wrapper fieldItem col-xs-7 js-float-label-wrapper-select">
                  <div class="styled-select schedule_drpdwn_border_radius padding_style">
                    <label for="appointment_location__c">Location <span class="required"> *</span></label>
                    <select id="appointment_location__c" name="appointment_location__c"
                            class="col-xs-12 userLocations myclass schedule_border_style"
                            data-value="{{Application__c.appointment_location__c}}">
                    </select>
                  </div>
                </div>
                <div class="row date_fieldset schedule_date col-xs-7">
                  <div class="js-float-label-wrapper fieldItem col-sm-12 padding_style marginTop20 col-xs-7">
                    <label for="appointment_datetime__c">Schedule Date</label>
                    <input type="text" id="appointment_datetime__c" name="appointment_datetime__c"
                           class="col-xs-12 datepicker1 background_white"  value="{{Application__c.appointment_datetime__c}}"/>
                  </div>
                </div>
              </div>
              <div class="row fieldSet">
                <div class="js-float-label-wrapper fieldItem col-xs-7">
                  <label for="last_name__c">Last Name <span class="required"> *</span></label>
                  <input type="text" class="col-xs-12 lastName required" name="last_name__c" id="last_name__c" value="{{Application__c.last_name__c}}">
                </div>
              </div>
              <div class="row fieldSet">
                <div class="js-float-label-wrapper fieldItem col-xs-7">
                  <label for="email_address__c">Email <span class="required"> *</span></label>
                  <input type="email" class="col-xs-12 email required emailValidate" name="email_address__c" id="email_address__c" value="{{Application__c.email_address__c}}">
                </div>
              </div>
              <div class="row fieldSet">
                <div class="js-float-label-wrapper fieldItem col-xs-7">
                  <label for="date_of_birth__c">Date of Birth (MM/DD/YYYY)<span class="required"> *</span></label>
                  <input type="text" id="date_of_birth__c" name="date_of_birth__c"
                         class="col-xs-12 datepicker3 dob date dateUS required" value="{{Identity_Information__c.date_of_birth__c}}"/>
                </div>
              </div>
              <div class="row fieldSet">
                <div class="js-float-label-wrapper fieldItem col-xs-7">
                  <label for="ssn_prime__c">Social Security Number<span class="required"> *</span></label>
                  <input name="ssn_prime__c" id="ssn_prime__c" type="text" class="col-xs-12 ssn required"
                         value="{{Identity_Information__c.ssn_prime__c}}"/>
                </div>
              </div>
            </div>
          </form>
          <div class="alert-text">{{PageLabels.schedule_appointment_msg1}}</div>
          <div>
            <div class="bodyText"><span class="bodyTextBold"></span>
            </div>
          </div>
        </div>
        <div id="appt-scheduled">
          <div class="head_title marginBtm20 saved-heading">
            {{PageLabels.schedule_appointment_msg2}}
          </div>
          <p class="bodyTextBold marginTop">
            {{PageLabels.schedule_appointment_msg3}}
          </p>
          <p class="bodyTextBold marginTop">
            {{PageLabels.schedule_appointment_msg4}}
          </p>
          <p class="bodyTextBold marginTop">
            {{PageLabels.schedule_appointment_msg5}}
          </p>
          <ul style="margin: 20px 0 0 40px;">
            <li style="list-style-type: disc;padding-bottom: 10px;">{{PageLabels.schedule_appointment_bulleting1}}</li>
            <li style="list-style-type: disc;padding-bottom: 10px;">{{PageLabels.schedule_appointment_bulleting2}}</li>
            <li style="list-style-type: disc;padding-bottom: 10px;">{{PageLabels.schedule_appointment_bulleting3}}</li>
            <li style="list-style-type: disc;padding-bottom: 10px;">{{PageLabels.schedule_appointment_bulleting4}}</li>
          </ul>
        </div>
        <div id="appt-saved">
          <div class="head_title marginBtm20 saved-app">
            {{PageLabels.schedule_appointment_msg2}}
          </div>
          <p class="bodyTextBold marginTop">
            {{PageLabels.schedule_appointment_msg6}}
          </p>
        </div>
        <div id="cancel-prompt">
          <div class="head_title">
            {{PageLabels.schedule_appointment_msg7}}
          </div>
          <p class="bodyTextBold marginTop">
            {{PageLabels.schedule_appointment_msg8}}
          </p>
        </div>
      </div>
      <div>
        <div class="modal-footer" id="save">
          <div style="padding: 10px 20px 0 0;float:right;" class="cancel_style">
            <a class="greenText modal-footer-a cancel" data-dismiss="modal" aria-hidden="true" >{{PageLabels.cancel_button}}</a>
          </div>
          <div class="flt_right schedule-button">
            <button id="save_appt" class="modal-footer-button myButton save_style primaryBtn schedule">{{PageLabels.schedule_button}}</button>
          </div>
        </div>
        <div class="modal-footer" id="scheduled">
          <div><a class="greenText come-back-later" data-href="http://www.terafinainc.com/">{{PageLabel.come_back_later_button}}</a></div>
          <button class="myButton floatRt primaryBtn scheduled" data-dismiss="modal" aria-hidden="true">{{PageLabels.continue_button}}</button>
        </div>
        <div class="modal-footer" id="scheduledContinue">
          <div><a class="greenText come-back-later" data-href="http://www.terafinainc.com/">{{PageLabel.come_back_later_button}}</a></div>
          <button class="myButton floatRt primaryBtn scheduledContinue" data-dismiss="modal" aria-hidden="true" >{{PageLabels.continue_button}}</button>
        </div>
        <div class="modal-footer" id="cancel">
          <div><a class="greenText no-continue" >{{PageLabels.no_continue_button}}</a></div>
          <button class="myButton floatRt primaryBtn render" data-dismiss="modal" aria-hidden="true" onclick="refresh();">{{PageLabels.yes_cancel_button}}</button>
        </div>
      </div>

    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<script id="action-panel" type="text/x-handlebars-template">
</script>

<script id="header-contents" type="text/x-handlebars-template">
</script>

<script id="disclosures" type="text/x-handlebars-template">
</script>
