<div id="formContainer">
  <!-- Primary Applicant Info -->

  <div id="appl_1" class="applicant">
    <h4 class="sectionHeader">Verify Your {{PageLabels.Identity}}</h4>
    <!-- Declaration 1 -->
    <div class="formFields sectionTitleContainer" id="appl_1_appDecl1">
      <h4 class="sectionTitle " >To protect you from Identity Theft and to confirm your identity we pull public information and ask you to validate the following questions. If the correct answer is not here, just choose none of the above.</h4>

      <div class="row fieldSet">
        <div class="fieldItem declarationText">
          1)Please select the county for the address you provided.

          <table class="radioTableLabel"><tr><td>
            <input type="radio" name="appl_1_appDecl1" id="appl_1_appDecl1_0" value="Yes" autocomplete="off" />
            <label for="appl_1_appDecl1_0"> POWELL</label>
          </td>
          </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl1" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> CLINTON</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl1" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> DAVIESS</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl1" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> GALLATIN</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl1" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> NONE OF THE ABOVE</label>
              </td>
            </tr>

          </table>
        </div>
      </div>
      <div class="row fieldSet">
        <div class="fieldItem declarationText">
          2)Please select the model year of the vehicle you purchased or leased prior to August 2010.
          <table class="radioTableLabel"><tr><td>
            <input type="radio" name="appl_1_appDecl2" id="appl_1_appDecl1_0" value="Yes" autocomplete="off" />
            <label for="appl_1_appDecl1_0"> 2006</label>
          </td></tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl2" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> 2007</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl2" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> 2008</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl2" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> 2009</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl2" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> NONE OF THE ABOVE</label>
              </td>
            </tr>

          </table>
        </div>
      </div>
      <div class="row fieldSet">
        <div class="fieldItem declarationText">
          3)Which of the following is a current or previous employer? If there is not a matched employer name, please select 'NONE OF THE ABOVE'.
          <table class="radioTableLabel"><tr><td>
            <input type="radio" name="appl_1_appDecl3" id="appl_1_appDecl1_0" value="Yes" autocomplete="off" />
            <label for="appl_1_appDecl1_0"> AGENCY COMESTIC</label>
          </td></tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl3" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> SMITH S GROCERY STOR</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl3" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> HAIR CONNECTIONS</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl3" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> ST JOHN OF GOD HOSP</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl3" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> NONE OF THE ABOVE</label>
              </td>
            </tr>

          </table>
        </div>
      </div>
      <div class="row fieldSet">
        <div class="fieldItem declarationText">
          4)Which of the following institutions do you have a bank account with? If there is not a matched bank name, please select 'NONE OF THE ABOVE'.
          <table class="radioTableLabel"><tr><td>
            <input type="radio" name="appl_1_appDecl4" id="appl_1_appDecl1_0" value="Yes" autocomplete="off" />
            <label for="appl_1_appDecl1_0"> MID CENTURY BANK</label>
          </td></tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl4" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> AMERIBANK</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl4" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> CASCADE RANGE FCU</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl4" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> STAR BANK</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="appl_1_appDecl4" id="appl_1_appDecl1_1" value="No" autocomplete="off" />
                <label for="appl_1_appDecl1_1"> NONE OF THE ABOVE</label>
              </td>
            </tr>

          </table>
        </div>
      </div>
      <div class="row fieldSet">
        <div id="desc1_1_div" class="col-xs-6">
          <label for="desc1_1" class="js-float-label-wrapper">Please provide an explanation<span class="required"> *</span></label>
          <textarea cols="" rows="3" id="desc1_1" class="col-xs-12" required></textarea>
        </div>
      </div>

    </div>
  </div>
</div>

<script id="action-panel" type="text/x-handlebars-template">
</script>

<script id="header-contents" type="text/x-handlebars-template">
</script>

<script id="disclosures" type="text/x-handlebars-template">
</script>

<script id="products-list" type="text/x-handlebars-template">
  {{#if Application__c.primary_offer__c}}
  <li id="cs1_list" class="listRow">{{Application__c.primary_offer__c}}</li>
  {{/if}}
  {{#if Application__c.second_offer__c}}
  <li id="cs2_list" class="listRow">{{Application__c.second_offer__c}}</li>
  {{/if}}
  {{#if Application__c.third_offer__c}}
  <li id="cs3_list" class="listRow">{{Application__c.third_offer__c}}</li>
  {{/if}}
</script>
