body {
  min-width: 768px;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display: inline;
	float: left;
	position: static;
	margin-left: 0.625em;
	margin-right: 0.625em;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container .grid_1 {
	width:2.500em;
}

.container .grid_2 {
	width:6.250em;
}

.container .grid_3 {
	width:10.000em;
}

.container .grid_4 {
	width:13.750em;
}

.container .grid_5 {
	width:17.500em;
}

.container .grid_6 {
	width:21.250em;
}

.container .grid_7 {
	width:25.000em;
}

.container .grid_8 {
	width:28.750em;
}

.container .grid_9 {
	width:32.500em;
}

.container .grid_10 {
	width:36.250em;
}

.container .grid_11 {
	width:40.000em;
}

.container .grid_12 {
	width:43.750em;
}

.container .grid_13 {
	width:47.500em;
}

.container .grid_14 {
	width:51.250em;
}

.container .grid_15 {
	width:55.000em;
}

.container .grid_16 {
	width:58.750em;
}




/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container .prefix_1 {
	padding-left:60px;
}

.container .prefix_2 {
	padding-left:120px;
}

.container .prefix_3 {
	padding-left:180px;
}

.container .prefix_4 {
	padding-left:240px;
}

.container .prefix_5 {
	padding-left:300px;
}

.container .prefix_6 {
	padding-left:360px;
}

.container .prefix_7 {
	padding-left:420px;
}

.container .prefix_8 {
	padding-left:480px;
}

.container .prefix_9 {
	padding-left:540px;
}

.container .prefix_10 {
	padding-left:600px;
}

.container .prefix_11 {
	padding-left:660px;
}

.container .prefix_12 {
	padding-left:720px;
}

.container .prefix_13 {
	padding-left:780px;
}

.container .prefix_14 {
	padding-left:840px;
}

.container .prefix_15 {
	padding-left:900px;
}



/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container .suffix_1 {
	padding-right:60px;
}

.container .suffix_2 {
	padding-right:120px;
}

.container .suffix_3 {
	padding-right:180px;
}

.container .suffix_4 {
	padding-right:240px;
}

.container .suffix_5 {
	padding-right:300px;
}

.container .suffix_6 {
	padding-right:360px;
}

.container .suffix_7 {
	padding-right:420px;
}

.container .suffix_8 {
	padding-right:480px;
}

.container .suffix_9 {
	padding-right:540px;
}

.container .suffix_10 {
	padding-right:600px;
}

.container .suffix_11 {
	padding-right:660px;
}

.container .suffix_12 {
	padding-right:720px;
}

.container .suffix_13 {
	padding-right:780px;
}

.container .suffix_14 {
	padding-right:840px;
}

.container .suffix_15 {
	padding-right:900px;
}



/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container .push_1 {
	left:60px;
}

.container .push_2 {
	left:120px;
}

.container .push_3 {
	left:180px;
}

.container .push_4 {
	left:240px;
}

.container .push_5 {
	left:300px;
}

.container .push_6 {
	left:360px;
}

.container .push_7 {
	left:420px;
}

.container .push_8 {
	left:480px;
}

.container .push_9 {
	left:540px;
}

.container .push_10 {
	left:600px;
}

.container .push_11 {
	left:660px;
}

.container .push_12 {
	left:720px;
}

.container .push_13 {
	left:780px;
}

.container .push_14 {
	left:840px;
}

.container .push_15 {
	left:900px;
}



/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container .pull_1 {
	left:-60px;
}

.container .pull_2 {
	left:-120px;
}

.container .pull_3 {
	left:-180px;
}

.container .pull_4 {
	left:-240px;
}

.container .pull_5 {
	left:-300px;
}

.container .pull_6 {
	left:-360px;
}

.container .pull_7 {
	left:-420px;
}

.container .pull_8 {
	left:-480px;
}

.container .pull_9 {
	left:-540px;
}

.container .pull_10 {
	left:-600px;
}

.container .pull_11 {
	left:-660px;
}

.container .pull_12 {
	left:-720px;
}

.container .pull_13 {
	left:-780px;
}

.container .pull_14 {
	left:-840px;
}

.container .pull_15 {
	left:-900px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}
